%nav
  .nav-wrapper
    %a.brand-logo{href: '/'} Cars4U
    %ul#nav-mobile.right
      %li
        %a{href: dealerships_path} 
          Dealerships
      %li
        %a{href: customers_path} 
          Customer Profiles